YFS_ERROR_CAUSE_ACTION=YFS_ERROR_CODE|ErrorCodeKey
YFS_BASE_COMMON_CODE=CodeType
YFS_BASE_RULES=RuleName
YFS_INVENTORY_CONSIDERATIONS=DemandType,SupplyType
YFS_INVENTORY_DEMAND_TYPE=DemandType
YFS_INVENTORY_SUPPLY_TYPE=SupplyType
YFS_STATUS_MILESTONE=Status,YFS_PROCESS_TYPE|ProcessTypeKey
YFS_REGION_MATCH_PREF=Country
YFS_REGION=RegionName,YFS_REGION_SCHEMA|RegionSchemaKey
YFS_CONDITION_PROPS=Name,YFS_CONDITION|ConditionKey
YFS_RESOURCE_PERMISSION=YFS_RESOURCE|ResourceKey
YFS_WORK_ORDER_ALLOC_CONS=ServiceItemGroupCode
YFS_LOCALIZED_STRINGS=Country,FromCountry,OriginalDescription
PLT_PROPERTY_METADATA=BasePropertyName
PLT_PROPERTY=BasePropertyName
YFS_DATA_EXTR_CFG=TableName
YFS_DATA_EXTR_CLM=YFS_DATA_EXTR_CFG|DataExtractConfigKey
PLT_API_TEMPLATE=TemplateId
YFS_PIPELINE_DEFINITION=DropStatus,TransactionKey,YFS_PIPELINE|PipelineKey
YFS_PIPELINE_DROP_STS_COND=ExtendedDropStatus,ProcessTypeKey,YFS_PIPELINE_DEFINITION|PipelineDefinitionKey
YFS_PIPELINE_PICKUP_TRAN=Status,ProcessTypeKey,YFS_PIPELINE|PipelineKey
YFS_PIPELINE_LISTENER=ListeningToStatus,ProcessTypeKey,YFS_PIPELINE|PipelineKey
YFS_USER_EXIT_IMPL=UserExitKey
YFS_TRANSACTION=Tranid
YFS_HOLD_TYPE_USER_GROUP=UsergroupId,Permission,YFS_HOLD_TYPE|HoldTypeKey
YFS_HOLD_TYPE_MOD_TYPE=ModificationLevel,ProcessTypeKey,YFS_HOLD_TYPE|HoldTypeKey
YFS_HOLD_TYPE_TRAN=TransactionId,YFS_HOLD_TYPE|HoldTypeKey
YFS_COMMON_CODE=CodeType,CodeName
YFS_COMMON_CODE_ATTRIBUTE=Name,YFS_COMMON_CODE|CommonCodeKey
YFS_ATTRIBUTE_REFERENCE=ReferenceName
YFS_LINE_RELATIONSHIP_TYPE=RelationshipType
YFS_SOURCING_RULE_DTL=YFS_SOURCING_RULE_HDR|SourcingRuleHeaderKey
YFS_RULES=RuleSetFieldName
YFS_PURGE_CRITERIA=PurgeCode
YFS_INVENTORY_MONITOR_RULES=InventoryMonitorRule
YFS_ORDER_LINE_TYPE=LineType
YFS_ITEM_SHIP_NODE=ShipnodeKey,DistributionRuleId
YFS_CALENDAR_SHIFT_EFF_PERD=EffectiveFromDate,EffectiveToDate,CalendarKey
YFS_CALENDAR_SHIFT=ShiftName,ShiftEffectivePeriodKey
YFS_CALENDAR_DAY_EXCP=YFS_CALENDAR|Date,CalendarKey
YFS_SCAC_EX=ScacKey,RecordKey
YFS_ORG_ENTERPRISE=OrganizationKey
YFS_NODE_NOTIFICATION=YFS_NODE_NOTIFICATION_PERD|NodeNotificationPeriodKey